<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.4/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/3.4/mule-http.xsd
        http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/3.4/mule-jersey.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <flow name="miprimerflujo">
        <inbound-endpoint address="http://localhost:8080/miserviciorest">
        </inbound-endpoint>

        <jersey:resources>
            <component class="com.grupoasv.mulaka.rest.AtenderPeticion"/>
        </jersey:resources>
    </flow>

    <!--<flow name="EchoFlow" doc:name="EchoFlow">-->
        <!--<http:inbound-endpoint host="localhost"-->
                               <!--port="8084" doc:name="HTTP"-->
                               <!--doc:description="Process HTTP requests or responses." exchange-pattern="request-response"/>-->
        <!--<logger message="About to echo #[message:payload]" level="INFO" doc:name="Logger"/>-->
        <!--<echo-component doc:name="Echo"/>-->
    <!--</flow>-->

    <!--Este es un comentario-->
</mule>
